<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug" strict="true" monitorInterval="30">

    <properties>
        <property name="filename">/log/elk-springboot-log.log</property>
        <property name="defaultpattern">logdate=(%d{ISO8601}) thread=(%thread) level=(%level) loggerclass=(%logger{36}) message=(%msg)%n</property>

    </properties>

    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Appender name="STDOUT" type="console">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>

        <Appender name="File" type="File" filename="${filename}">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>

        <Socket name="socket" host="logstash" port="9999" reconnectDelayMillis="5000">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Socket>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="File" />
            <AppenderRef ref="socket" />
        </Root>
    </Loggers>
</Configuration>